*{
  font-family: "Titillium Web", sans-serif;
}
.app-container{
  /* margin-top: 3rem;
  padding: 1rem; */
}
#get-started-btn{
  /* background-image: linear-gradient(88deg,#e77878,#e7a278 31%,#e77878);
  background-clip: border-box; */
  background: #ff914d;
  color: #fffdf4 ;
}
/* *{font-weight: 700;} */
.calendarCell, .fc-event{max-height: 15rem; overflow: hidden;}
.fc-event:hover{
  background: #ff914d !important;
  color: #fffdf4 !important;
  /* cursor: crosshair;
  transform: scale(1.05);
 
  transition: all .1s ease-in-out; */
}
/* .fc-daygrid-day-events{
  max-height: 10rem;
  overflow: scroll;
} */
 html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* overflow-x: hidden; hides the extra scroll */
}
 .offering-card, .league-card {
  opacity: 0;
  transform: rotateY(90deg);
  transition: transform 0.8s ease, opacity 0.8s ease;
  backface-visibility: hidden;
  padding: 1rem;
}
.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-on-scroll.in-view {
  opacity: 1;
  transform: translateY(0);
}
/* When in view */
.offering-card.in-view {
  opacity: 1;
  transform: rotateY(0deg);
}
.offering-card:nth-child(1).in-view {
  transition-delay: 0.2s;
}
.offering-card:nth-child(2).in-view {
  transition-delay: 0.3s;
}
.offering-card:nth-child(3).in-view {
  transition-delay: 0.4s;
}
.offering-card:nth-child(4).in-view {
  transition-delay: 0.6s;
}
.offering-card:nth-child(5).in-view {
  transition-delay: 0.7s;
}

.league-card.in-view {
  opacity: 1;
  transform: rotateY(0deg);
}
.league-card:nth-child(1).in-view {
  transition-delay: 0.2s;
}
.league-card:nth-child(2).in-view {
  transition-delay: 0.3s;
}
.league-card:nth-child(3).in-view {
  transition-delay: 0.4s;
}
.league-card:nth-child(4).in-view {
  transition-delay: 0.6s;
}
.league-card:nth-child(5).in-view {
  transition-delay: 0.7s;
}
#what-we-offer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  /* color: #111; */
  background: #111;
  /* padding: 1rem !important; */
}
button{
  border-radius: 8px;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  /* background: #111 !important;
  color: #fffdf4 !important; */
  color: #fffdf4 !important;
  background: #111 !important;

  z-index: 100000;
  border-bottom: 2px solid #009fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 3.5rem;
  
}
.watchlist-header{
  margin: 0;
}
.fc-timegrid-event {
  left: 0 !important;
  width: 100% !important;
}
.fc-daygrid-day-number{color: #111 !important; font-weight: bold;}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
  /* height: 3rem; */
}
.fc-col-header-cell-cushion{
  color: #111;
  font-weight: bold;
}

.calendar-event-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  flex-wrap: wrap;
  text-wrap: balance;
}
.fc-h-event{
  color: transparent !important;
  background: transparent !important;
  border: transparent !important;
}

.event-title{
  width: 100%;
  text-wrap: auto;
  padding: 5px;
  border-top: 1px solid gray;
  /* background: #ffffe0; */
  /* background: #f2ffe0; */
  /* background: #e1e1e1; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 5px;
  flex-wrap: wrap;
}
.event-team-span{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.fc-footer-toolbar > .fc-toolbar-chunk > .fc-button-group{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
}
.fc .fc-daygrid-event-harness {
  position: relative;
  margin-top: .25rem !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39) !important;
  border-radius: 10px !important;
}
.fc-scrollgrid-sync-table {
  background: #6a6a6a;
  /* height: 100% */
  /* background: radial-gradient(circle,rgb(255, 214, 186) 0%, rgb(230, 134, 71) 100%) */
  /* background: radial-gradient(circle,rgb(255, 214, 186) 0%, rgb(255, 229, 212) 100%); */
  background: radial-gradient(circle,rgba(245, 104, 10, 0.46) 0%, rgba(4, 149, 245, 0.51) 100%);
}
.fc-view-harness{
  height: 66vh !important;
}
.editor-and-calendar{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: #111;
  /* color: #fffdf4 ; */
  color: #acaaa0;
  margin-top: 3rem;
  padding-bottom: 15vh;
  padding-top: 5vh;
  min-height: 100vh;
}
.unauth-home-login-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
footer{
  /* background: #fffdf4; */
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   /* color: #111; */
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #fffdf4;
  background: #111111c7;
}
.fav-header{
  margin-bottom: 0;
  margin-top: 0;
  color: #6a6a6a;
}
.white-text{
  color: #fffdf4;
}
.user-favorite-attr-list{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  max-height: 6rem;
 
  flex-wrap: wrap;
  gap: 0 5px;
  margin-left: .25rem;
}
.fc-day-today{
  background: #009ffd3b !important;
  /* background: #009fff !important; */
}
.about-para-and-img{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.logo-homepage{
  width: 38rem;
  height: auto;
  margin-bottom: 1rem;
}
.favorite-teams, .followed-teams, .followed-leagues{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.follow-team-tooltip{
  /* position: relative;
  top: -2rem;
  right: -4rem; */
  background: #12242f;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}
.follow-team-tooltip-big{
  position: relative;
  top: -2rem;
  right: -4rem;
  background: #12242f;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}
.big-toggle-follow-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hidden{
  display: none;
}
.toggle-fav-selector, .fc-button, .team-add, .team-favorite, .toggle-fav-selector, .favorite-selector-header-buttons button, .close-list-editor button, .dropdown-toggle, .signout-button, .favorite-selector-follow-league-button, .team-add, .team-favorite{
  background: transparent !important;
  /* color: #6a6a6a !important;
  border: 1px solid #6a6a6a !important; */
  border: 1px solid #009fff !important;
  color: #009fff !important;
}
.favorite-selector-filter-input{
  width: -webkit-fill-available;
  width: -moz-available;
  background: transparent !important;
  outline: none !important;
  border-width: 0;
  border-bottom-width: 2px;
  /* border-image: linear-gradient(0.25turn, #5a5a9d, #bb00008f, #5a5a9d); */
  border-image-slice: 1;
  color: #ff7e5f !important;
  caret-color: #ff7e5f !important;
  border-bottom-color: #ff7e5f8a;
  font-weight: 700;
  font-style: italic;
  margin-left: .5rem;
}
.team-logo{
  width: 2rem;
  margin-right: .25rem;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
.input-gradient-border {
  border: none;
  border-bottom: 3px solid transparent;
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: bottom left;
  padding: 8px 4px;
  font-size: 16px;
  outline: none;
  background-clip: padding-box;
}
.input-gradient-border:focus:focus-visible {
  background-image: linear-gradient(to right, #6a11cb, #2575fc);
}
.signout-button{
  align-self: center;
  margin-bottom: 2rem;
}
.favorite-selector-follow-league-button:hover, .favorite-selector-follow-league-button:focus, .toggle-fav-selector:hover, .fc-button:hover, .fc-button-active, .favorite-selector-header-buttons button:hover, .close-list-editor button:hover, .dropdown-toggle:hover, .signout-button:hover, .team-add:hover, .team-favorite:hover{
  transition: all .2s;
  /* background: #6a6a6a !important; */
  color: #feb47b !important;
  background: #009fff !important;
  font-weight: bold;
  
}
.toggle-fav-selector{
  padding: 0.4em;
  height: 2rem;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39) !important;
}
.fav-select-header-and-toggle{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.fc-button:disabled{
  opacity: .5 !important;
  cursor: not-allowed !important;
}
.fc-scrollgrid,  .fc-scrollgrid-liquid{
  /* background: linear-gradient(to top, #ebbba7 0%, #c7e1f8 100%); */
  height: 66vh;
}
.fc-day{
  border: 2px solid #111 !important;
}
.league-image{max-width: 89%;
  max-height: 70%;
}
.fc-scrollgrid{
  border: 2px solid #111;
  border-radius: 10px;   
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);

}
.schedule-and-edit{display: flex; flex-direction: row; align-items: center; }
.schedule-header-account-favorites{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 2rem;
}
.fc-daygrid-day-events{
  padding: .25rem;
}
#padded-hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dull{
  color: #a1a0a0;
  font-style: italic;
}
.empty-fav{
  margin-left: 1rem;
}
.account-favorites-paragraph{
  font-size: 1rem;
  margin: 0;
  margin-left: 1rem;
  font-weight: 400;
  text-align: start;
}
.scroll-wrapper {
  overflow: hidden;
  width: 100%;
}

.infinite-scroll {
  display: flex;
  width: fit-content;
  animation: scroll-left 20s linear infinite;
}
.favorite-teams-and-leagues{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  width: max-content;
  overflow: scroll; 
  /* display: inline-block; */flex-shrink: 0;
  /* animation: scroll-left 5s linear infinite; */
  color: #fffdf4;
}
@keyframes scroll-left {
  0% {
   
    transform: translateX(10%);
  }
  100% {
  
    transform: translateX(-50%);
  }
}
.favorite-team{
  padding: 0 .5rem;
  margin-bottom: .25rem;
  border: 2px solid #bb0000;
  border-radius: 20px;
}
.about-image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;

}
.avaliable-leagues-inner{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem;
  align-items: start;
  background: radial-gradient(circle,rgba(245, 104, 10, 0.46) 0%, rgba(4, 149, 245, 0.51) 100%);

}
.favorite-selector-current-favorites{
  padding: 1rem;
  /* border: 2px solid #67b8ffa8;
  border-radius: 10px; */
  width: 93.5%;
  margin-bottom: 1rem;
  /* box-shadow: #67b8ffa8 0px 3px 8px;
  background: #fffdf4; */
  background: #111111b5;
  color: #fffdf4;
  border: 1px solid #0d0d0d;
  border-radius: 3px;
}
.favorite-selector-search-button{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  margin-right: -5px;
  width: 2rem;
}
.favorite-selector-search-input{
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 1.75rem;
  border: 1px solid gray; */
}
table{
  border: 2px solid #111;
}
#p5canvascontainer{
  position: absolute;
  
    opacity: .4;
}
.avaliable-league{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* background: #F6F5F2; */
  width: 44%;
  height: 18rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  /* box-shadow: #ff914d 0px 3px 8px; */
 
  /* background: #111;
  color: #7a6a6a; */
  
  /* border-top-color: rgb(17, 17, 17);
  border-top-color: #fffdf4; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39) !important;
  background: #111111b5;
  color: #fffdf4;
  border: 1px solid #0d0d0d;
  border-radius: 3px;
}
.favorite-selector-header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 2rem;
  gap: .25rem;
}
.favorite-selector-follow-league-button, .favorite-selector-search-button{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.favorite-selector-modal-and-account-favorites{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.favorite-selector-modal-backdrop{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0000009e;
}
.avaliable-leagues-container{
  position: absolute;
  z-index: 1000000;
  /* background: #F6F5F2; */
  width: 66vw;
  top: 11vh;
  left: 17vw;
  /* border: 2px solid #111; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 50rem;
  overflow: scroll;
  
  /* background: #111;
  color: #7a6a6a; */
  background: #111;
  border-radius: 10px;
  border-top-color: rgb(17, 17, 17);
  border-top-color: #fffdf4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39) !important;
  display: flex;
  flex-direction: column;
}
.avaliable-teams{
  height: 10rem;
  overflow: scroll;
}
.league-teams{
  display: flex;
  flex-direction: column;
  height: 17rem;
  width: 100%;
  overflow: scroll;
  box-shadow: rgba(100, 0, 0, 0.11) 0px 3px 8px;
  align-items: start;
  justify-content: start;
}
.big-toggle-follow-league{
  scale: 3;
  height: auto;
}
.big-toggle-follow-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.left{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.full-calendar-container{
  width: 75%;
  height: 100%;
}
.notification-info-attributes{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.header-btn{
  height: 100%;
  border: 2px solid #009fff;
  padding: .2rem;
}
h4{margin-top: 0; margin-bottom: 0;}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.header-left{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.homepage-sections{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* background: radial-gradient(circle,rgba(245, 104, 10, 0.46) 0%, rgba(4, 149, 245, 0.51) 100%); */
  background: #111;
}
.about-image-container{
  
}
.calendar-event{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: #111111b5;
  color: #fffdf4;
  border: 1px solid #0d0d0d;
  border-radius: 3px;
  padding: 3px;
}
.fc-footer-toolbar{
  /* position: absolute; */
  /* right: 13%;
  top: 4%; */
  display: flex !important;
  flex-direction: row !important;
  justify-content: start !important;
  align-items: end !important;

}
.bold-red{
  font-weight: bold;
  color: #bb0000;
}
.offering-card-icon-container{
  border-radius: 50%;
  border: 2px solid grey;
  padding: 0.5rem;
}
.offering-card-header{
  text-align: start;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1.5rem;
  margin-top: 0;
}
.offerings-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.team-name-header{
  margin: 0;
  text-align: start;
}
.add-and-fav-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}
.team-add, .team-favorite{
  height: 2rem;
  width: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.close-list-editor{
  position: absolute;
  left: 0;
  top: 0;
}
.edit-lists-verbiage{
  color: #fffdf4;
  text-align: start;
}
.favorite-selector-overlay{
  z-index: 10000;
  background:rgba(102, 101, 101, 0.75);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.favorite-selector-maps-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
}
.fa-close{
  /* color: red; */
}
.team-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  width: 85%;
}
.offering-card, .league-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 44%;
  height: 21rem;
  /* background: #111111b5; */
  background: radial-gradient(circle,rgba(245, 104, 10, 0.46) 0%, rgba(4, 149, 245, 0.51) 100%);
  color: #fffdf4;
  border: 1px solid #0d0d0d;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39) !important;

}
.league-list-home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
/* .league-card{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 2px solid gray;
  width: 15rem;
  height: 6rem;
  padding: 1rem;
} */
.section{
  /* padding: 2rem;
  padding-right: 0; */
  padding: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  min-height: 50vh;
  background: #1111114d;
}
.dropdown{
  min-width: 3rem;
  position: absolute;
  color: #7a6a6a;
  right: 5px;
  position: absolute;
  margin-top: 3px;
  top: 3.3rem;
  border-radius: 10px;
  border-top-color: rgb(17, 17, 17);
  border-top-color: #fffdf4;
  box-shadow: 0 33px 36px rgba(0, 0, 0, 0.39) !important;
  display: flex;
  flex-direction: column;
  background: #111;
  border: 2px solid #009fff;
}
.delete-account-button{
  align-self: end;
  background: transparent;
  color: #a80000;
}
.delete-account-button:hover, .delete-account-button:focus{
  color: #111 !important;
  transition: all .2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39) !important;
}
.account-dropdown-text{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
}
.account-attr{
  margin-top: 0;
  margin-bottom: 0;
}
.rank{
  font-size: .6rem;
  position: relative;
  top: 3px;
}
.dropdown-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1rem;
}
#account-dropdown-toggle{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: end;
}
#section1{
  /* background: #010618; */
}
#about-header{
  /* text-align: end; */
}
.league-header-span{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #009fff;
  padding-bottom: .5rem;
}
.league-name-header{
  margin: 0;
}
.about-header-small{
  margin-bottom: 0;
}
.about-small{font-size: 1rem !important;}
#about-us{
  border-top: 3px solid #009fff;
  min-width: 50%;
  width: fit-content;
  background: #111;
  color: #fff !important;
  width: 100vw;
}
hr{border-bottom: 1px solid grey; width: 85%;}  
.about-verbiage{
  width: 100%;
}
.center-para{
  width: 100%;
}
.supported-leagues-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.supported-leagues-header-para{text-align: start;}
.account-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.account-details-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: absolute;
  right: 0;
  border: 2px solid #bb0000;
  padding: 0 1rem;
  top: 3rem;
}
.about-paragraph{
  width: 40%;
  font-size: 1.5rem;
}
.about-paragraph, .about-verbiage{
  text-align: start;
  margin-top: 0.5em;
  margin-bottom: 1em;
  
  color: #c2c2c2;
  color: #fffdf4;
  font-weight: 400;
  text-align: start;
}
.about-image{
  width: 56rem;
  border-radius: 10px;
}
.h1-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
 
}
.header-link{
  font-weight: bold;
  color: #b7b7b7;
  margin: 0 1rem;
}
.inner-header{
  color: black !important;
  font-weight: 500;
}
.signed-in-home-container{
  text-align: start;
  min-height: 95vh;
}
.header-link:hover{
  color: #ff914d;
  text-decoration: underline;
  transition: all .2s;
}
.bold{font-weight: bold;}
.header-buttons{
  width: 23%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  height: 3rem;
}
.main-header, .sub-header{
  font-family: "Titillium Web", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.sub-header{
  /* font-style: italic;
  color: #009fff; */
  color: #ff914d;
  text-shadow: 3px 2px #ff0060;
}
body{
  background: #010618;
  color: #fffdf4;
  /* background: #f5f5f5; */
}
h1{
  letter-spacing: -3px;
  font-weight: 700;
}
.header-container{
  /* position: absolute;
  top: 25%; */
  padding: 2rem;
  z-index: 10000;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-paragraph{
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  /* color: #c2c2c2; */
  color: black;
  font-weight: 400;
 text-align: start;
}
.fa-user-circle{color: #7a6a6a;}
.main-header{
  /* -webkit-text-fill-color: transparent;
  background-image: linear-gradient(88deg,#fff,#7a78e7 31%,#b678e7);
  background-image: linear-gradient(88deg,#e77878,#e7a278 31%,#e77878);
  background-clip: text; */
  color:#bb0000;
}

#root {
  width: 100vw;
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #F6F5F2;
}

.logo {
  height: 4.5rem;
  padding: 0;
  margin-left: -.75rem
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.current-team-list-ele{
  /* line-height: 1.5; */
  min-width: fit-content;
}
.read-the-docs {
  color: #888;
}
.offering-card-icon{
  font-size: 6rem;
}
/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.button-64:active,
.button-64:hover {
  outline: 0;
}
.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%; 
  height: 100%;
  transition: 300ms;
}
.button-64:hover span {
  background: none;
}
@media (max-width: 1550px) {
  .header-container{
  /* position: absolute;
  top: 25%; */
    padding: 0;
  }
  .header-paragraph{padding: 3rem;}
  .sub-header{padding: 1rem;}
  .avaliable-league{width: 93.5%;}
  .favorite-selector-current-favorites{padding: .5rem;width: 90.5%;}
  .about-para-and-img{flex-direction: column;}
  .about-paragraph{ width: 82%;}
  .about-image{width: 45rem;}
}
@media (max-width: 768px) {
  .offerings-container{
    width: auto !important;
    padding: 1rem !important;
    /* justify-content: center !important; */
  }
  .section{width: auto !important;}
  html{overflow-x: hidden;}
  .h1-container{align-items: center;}
  #about-us{
    max-width: 100%;
    padding: 1rem !important;
    font-size: 1.5rem;

  }
  .offering-card, .league-card{width: 18rem !important;}
  .about-image-container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  }
  .header-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 3rem;
  }
  #p5canvascontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .4;
  }
  /* canvas{scale: .7;} */
  .unauth-home-login-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100%;
    margin-right: 0;
  }
  .header-left{
    gap: .5rem;
  }
  .header-link{
    margin: 0 .5rem;
  }
  .about-para-and-img{
    flex-direction: column;
  }
  .header-paragraph{
    padding: 3rem;
  }

  .section{
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    background: #1111112e;
  }
  .about-image {
    width: 19rem;
  }
  .team-logo{
    width: 3rem !important;
    top: 4rem !important;
  }
  .favorite-selector-maps-container{
    justify-content: center !important;
    align-items: center !important;
  }
  .fc-button {
    font-size: .75rem !important;
    height: 4rem !important;
  }
  .fc-footer-toolbar{
    top: 6% !important;
  }
  .about-paragraph{text-align: center;width: 97%;}
  .watchlist-header{
    font-size: 2rem;
    margin-top: 3rem;
    position: relative;
    top: -2rem;
  }
  .header{width: 100vw;}
  .fc-toolbar-title{
    font-size: 1.2rem !important;
  }
  .avaliable-leagues-inner{
    padding: 10px !important;
    align-items: center !important;
  }
  .avaliable-leagues-container{
    position: initial !important;
    width: 100vw !important;
    background: #111;
  }
  .close-list-editor{
    position: absolute;
    position: absolute;
    right: .25rem;
    top: 4.5rem;
    left: auto;
  }
  .avaliable-league{
    align-items: center !important;
    width: 72% !important;
    margin-right: 0 !important;
  }
  .full-calendar-container{
    width: 90% !important;
  }
  .logo-homepage{
    max-width: 85%;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
.followed-team-highlight{
  font-weight: bold;
  color: #548d93;
}
.favorite-event-icon{
  color: #ffb300;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24);
}
.favorite-team-highlight{
  
    /* background: linear-gradient(
        to right,
        #ff0000 20%,
        #ff0000 30%,
        #00affa 70%,
        #ff0000 80%
    ); */
     background: linear-gradient(
        to right,
        #ff914d 20%,
        #ff914d 30%,
        #00affa 70%,
        #ff914d 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-weight: bold;

}
.login-button-highlight{
  
    background: linear-gradient(
        to right,
        #ff914d 20%,
        #ff914d 30%,
        #00affa 70%,
        #ff914d 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-weight: bold;

}
.google-login-highlight{
  background: linear-gradient(
        to right,
        #ff4d4d 20%,
        #0019fa 45%,
        #017e07 80%
    );
  -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-weight: bold;
}
.facebook-login-highlight{
  background: linear-gradient(
        to right,
        #000a68 20%,
        #eccb34 45%,
        #000a68 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-weight: bold;
}
.x-login-highlight{
  background: linear-gradient(
        to right,
        #000000 20%,
        #70adf3 45%,
        #000000 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-weight: bold;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* CSS */
.button-85{
  /* padding: 0.6em 2em; */
  /* padding: 5px 10px;
  border: none;
  outline: none; */
  color: #111;
  border: 1px solid #827474;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 600;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.login-button-inner-span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button-85:before{
  content: "";
  /* background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  ); */
  /* background: linear-gradient(
    45deg,
    #ff0000,
    #002bff,
    #ff0000,
    #002bff,
    #ff0000,
    #002bff,
    #ff0000,
    #002bff,
    #ff0000
  ); */
  background: linear-gradient(
    45deg,
    #ff914d,
    #009fff,
    #ff914d,
    #009fff,
    #ff914d,
    #009fff,
    #ff914d,
    #009fff,
    #ff914d
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(1px);
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  
}
.infinite-scroll{
  animation: scroll-intinite 20s linear infinite
}
@keyframes scroll-intinite {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after{
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F0EBE3;
  left: 0;
  top: 0;
  border-radius: 10px;
}

