*{
  font-family: "Titillium Web", sans-serif;
}
.app-container{
  /* margin-top: 3rem;
  padding: 1rem; */
}
#get-started-btn{
  /* background-image: linear-gradient(88deg,#e77878,#e7a278 31%,#e77878);
  background-clip: border-box; */
  background: #bb0000;
  color: white;
}
.calendarCell, .fc-event{max-height: 15rem; overflow: scroll;}
/* .fc-daygrid-day-events{
  max-height: 10rem;
  overflow: scroll;
} */
#what-we-offer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 2rem;
}
button{
  border-radius: 8px;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}
header{
  position: fixed;
  top: 0;
  background: #111 !important;
  z-index: 100000;
  width: 100%;
  border-bottom: 2px solid #bb0000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 3.5rem;
  color: #fffdf4 !important;
}
.watchlist-header{
  margin: 0;
}
.fc-timegrid-event {
  left: 0 !important;
  width: 100% !important;
}
.fc-daygrid-day-number{color: #111 !important; font-weight: bold;}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
  /* height: 3rem; */
}
.fc-col-header-cell-cushion{
  color: #111;
  font-weight: bold;
}

.calendar-event-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  flex-wrap: wrap;
}
.fc-h-event{
  color: transparent !important;
  background: transparent !important;
  border: transparent !important;
}

.event-title{
  width: 100%;
  text-wrap: auto;
  padding: 5px;
  border-top: 1px solid gray;
  /* background: #ffffe0; */
  /* background: #f2ffe0; */
  /* background: #e1e1e1; */
} 
.fc-footer-toolbar > .fc-toolbar-chunk > .fc-button-group{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
.fc .fc-daygrid-event-harness {
  position: relative;
  margin-top: .25rem !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39) !important;
  border-radius: 10px !important;
}
.fc-scrollgrid-sync-table {
  background: #6a6a6a;
}

.editor-and-calendar{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #7a6a6a;
  margin-top: 3rem;
  padding-top: 2rem;
}
footer{
  background: #fffdf4;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   color: #111;
}
.fav-header{
  margin-bottom: 0;
  margin-top: 0;
  color: #6a6a6a;
}
.white-text{
  color: white;
}
.user-favorite-attr-list{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  max-height: 6rem;
  overflow: scroll;
  gap: .5rem;
}
.fc-day-today{
  background: #67b8ff !important;
}
.favorite-teams, .followed-teams, .followed-leagues{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.toggle-fav-selector, .fc-button, .team-add, .team-favorite{
  background: transparent !important;
  color: #6a6a6a !important;
  border: 1px solid #6a6a6a !important;
  
}
.toggle-fav-selector:hover, .fc-button:hover, .fc-button-active{
  transition: all .2s;
  background: #6a6a6a !important;
  color: #111 !important;
  font-weight: bold;
  
}
.fav-select-header-and-toggle{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.fc-button:disabled{
  opacity: .5 !important;
  cursor: not-allowed !important;
}
.fc-scrollgrid,  .fc-scrollgrid-liquid{
  /* background: linear-gradient(to top, #ebbba7 0%, #c7e1f8 100%); */
}
.fc-day{
  border: 2px solid #111 !important;
}
.fc-scrollgrid{
  border: 2px solid #111;
  border-radius: 10px;   
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);

}
.schedule-and-edit{display: flex; flex-direction: row; align-items: center; }
.schedule-header-account-favorites{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 2rem;
}
.fc-daygrid-day-events{
  padding: .25rem;
}
#padded-hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dull{
  color: #a1a0a0;
  font-style: italic;
}
.empty-fav{
  margin-left: 1rem;
}
.account-favorites-paragraph{
  font-size: 1rem;
  margin: 0;
  margin-left: 1rem;
  font-weight: 400;
  text-align: start;
}
.favorite-teams-and-leagues{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  flex-wrap: wrap;
  
}
.favorite-team{
  padding: 0 .5rem;
  margin-bottom: .25rem;
  border: 2px solid #bb0000;
  border-radius: 20px;
}
.avaliable-leagues-inner{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem;
}
.favorite-selector-search-button{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  margin-right: -5px;
  width: 2rem;
}
.favorite-selector-search-input{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 1.75rem;
  border: 1px solid gray;
}
.avaliable-league{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 2px solid #bb00008f;
  background: #F6F5F2;
  width: 15rem;
  height: 18rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(27, 0, 100, 0.61) 0px 3px 8px;
  border-radius: 10px;
  background: #111;
  color: #7a6a6a;
}
.favorite-selector-header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.favorite-selector-modal-backdrop{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0000009e;
}
.avaliable-leagues-container{
  position: absolute;
  z-index: 1000000;
  background: #F6F5F2;
  width: 66vw;
  top: 11vh;
  left: 17vw;
  border: 2px solid #111;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 50rem;
  overflow: scroll;
  
  background: #111;
  color: #7a6a6a;
}
.avaliable-teams{
  height: 10rem;
  overflow: scroll;
}
.league-teams{
  display: flex;
  flex-direction: column;
  height: 17rem;
  width: 100%;
  overflow: scroll;
  box-shadow: rgba(100, 0, 0, 0.11) 0px 3px 8px;
}
.left{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.full-calendar-container{
  width: 75%;
}
.notification-info-attributes{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.header-btn{
  height: 100%;
}
h4{margin-top: 0; margin-bottom: 0;}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.header-left{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.homepage-sections{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.about-image-container{
  
}
.calendar-event{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
  background: #F6F5F2;
  color: #111;
  border: 2px solid #111;
  border-radius: 10px;
  padding: 3px;
}
.fc-footer-toolbar{
  position: absolute;
  right: 1%;
  top: 28%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: start !important;
  align-items: end !important;

}
.bold-red{
  font-weight: bold;
  color: #bb0000;
}
.offering-card-icon-container{
  border-radius: 50%;
  border: 2px solid grey;
  padding: 0.5rem;
}
.offering-card-header{
  text-align: start;
  
}
.offerings-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.team-name-header{
  margin: 0;
}
.add-and-fav-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team-add, .team-favorite{
  height: 1rem;
  width: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.close-list-editor{
  position: absolute;
  left: 0;
  top: 0;
}
.edit-lists-verbiage{
  
  
}
.favorite-selector-overlay{
  z-index: 10000;
  background:rgba(102, 101, 101, 0.75);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.favorite-selector-maps-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.fa-close{
  color: red;}
.team-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}
.offering-card{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 2px solid gray;
  width: 15rem;
  height: 18rem;
  padding: 1rem;
}
.league-list-home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
.league-card{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 2px solid gray;
  width: 15rem;
  height: 6rem;
  padding: 1rem;
}
.section{
  padding: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  min-height: 50vh;
}
.dropdown{
  min-width: 3rem;
  padding: 2rem;
  position: absolute;
  
  right: 4rem;
}
#section1{
  /* background: #010618; */
}
#about-header{
  /* text-align: end; */
}
.league-header-span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #5a5a9d
}
.league-name-header{
  margin: 0;
}
.about-header-small{
  margin-bottom: 0;
}
.about-small{font-size: 1rem !important;}
#about-us{
  border-top: 3px solid blue;
  border-top-left-radius: 10px;
  border-top-right-radius: 3px;
  min-width: 50%;
  width: fit-content;
  background: #010618;
  color: #fff !important;
  align-self: center;
}
hr{border-bottom: 1px solid grey; width: 85%;}  
.about-verbiage{
  width: 50%;
}
.center-para{
  width: 100%;
}
.supported-leagues-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.account-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.account-details-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: absolute;
  right: 0;
  border: 2px solid #bb0000;
  padding: 0 1rem;
  top: 3rem;
}
.about-paragraph, .about-verbiage{
  text-align: start;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-left: 1rem;
  color: #c2c2c2;
  color: #eee;
  font-weight: 400;
  text-align: start;
}
.about-image{
  width: 30rem;
}
.h1-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
 
}
.header-link{
  font-weight: bold;
  color: #b7b7b7;
  margin: 0 1rem;
}
.inner-header{
  color: black !important;
  font-weight: 500;
}
.signed-in-home-container{
  text-align: start;
  min-height: 75vh;
}
.header-link:hover{
  color: #bb0000;
  text-decoration: underline;
  transition: all .2s;
}
.bold{font-weight: bold;}
.header-buttons{
  width: 23%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  height: 3rem;
}
.main-header, .sub-header{
  font-family: "Titillium Web", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.sub-header{
  font-style: italic;
}
body{
  background: #010618;
  color: #eee;
  /* background: #f5f5f5; */
}
h1{
  letter-spacing: -3px;
}
.header-container{
  position: absolute;
  top: 25%;
  
  z-index: 10000;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.header-paragraph{
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  /* color: #c2c2c2; */
  color: black;
  font-weight: 400;
 text-align: start;
}
.fa-user-circle{color: #111;}
.main-header{
  /* -webkit-text-fill-color: transparent;
  background-image: linear-gradient(88deg,#fff,#7a78e7 31%,#b678e7);
  background-image: linear-gradient(88deg,#e77878,#e7a278 31%,#e77878);
  background-clip: text; */
  color:#bb0000;
}

#root {
  width: 100vw;
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #F6F5F2;
}

.logo {
  height: 4em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
  scale: .67;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.button-64:active,
.button-64:hover {
  outline: 0;
}
.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.button-64:hover span {
  background: none;
}
@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
.followed-team-highlight{
  font-weight: bold;
}
.favorite-event-icon{
  color: #ffb300;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24);
}
.favorite-team-highlight{
  
    background: linear-gradient(
        to right,
        #ff0000 20%,
        #ff0000 30%,
        #00affa 70%,
        #ff0000 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-weight: bold;

}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* CSS */
.button-85{
  /* padding: 0.6em 2em; */
  /* padding: 5px 10px;
  border: none;
  outline: none; */
  color: #111;
  border: 1px solid #827474;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 600;
  margin-right: 1rem;
}
.button-85:before{
  content: "";
  /* background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  ); */
  background: linear-gradient(
    45deg,
    #ff0000,
    #002bff,
    #ff0000,
    #002bff,
    #ff0000,
    #002bff,
    #ff0000,
    #002bff,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after{
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F0EBE3;
  left: 0;
  top: 0;
  border-radius: 10px;
}

