*{
  font-family: "Titillium Web", sans-serif;
}
#get-started-btn{
  /* background-image: linear-gradient(88deg,#e77878,#e7a278 31%,#e77878);
  background-clip: border-box; */
  background: #bb0000;
  color: white;
}
#what-we-offer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
button{
  border-radius: 8px;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}
header{
  position: fixed;
  top: 0;
  background: #fffdf4 !important;
  z-index: 100000;
  width: 100%;
  border-bottom: 2px solid blue;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 3rem;
}
footer{
  background: #fffdf4;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.avaliable-leagues-inner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.avaliable-league{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 2px solid gray;
  width: 15rem;
  height: 18rem;
  padding: 1rem;
  margin-right: 1rem;
}
.avaliable-teams{
  height: 10rem;
  overflow: scroll;
}
.league-teams{
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 100%;
  overflow: scroll
}
.notification-info-attributes{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.header-btn{
  height: 100%;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -2rem;
}
.header-left{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.homepage-sections{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.about-image-container{
  
}
.bold-red{
  font-weight: bold;
  color: #bb0000;
}
.offering-card-icon-container{
  border-radius: 50%;
  border: 2px solid grey;
  padding: 0.5rem;
}
.offering-card-header{
  text-align: start;
  
}
.offerings-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.offering-card{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 2px solid gray;
  width: 15rem;
  height: 18rem;
  padding: 1rem;
}
.section{
  padding: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  min-height: 50vh;
}
.dropdown{
  min-width: 3rem;
  padding: 2rem;
  position: absolute;
  top: -1rem;
  right: 4rem;
}
#section1{
  /* background: #010618; */
}
#about-header{
  /* text-align: end; */
}
.about-header-small{
  margin-bottom: 0;
}
.about-small{font-size: 1rem !important;}
#about-us{
  border-top: 3px solid blue;
  border-top-left-radius: 10px;
  border-top-right-radius: 3px;
  min-width: 50%;
  width: fit-content;
  background: #010618;
  color: #fff !important;
  align-self: center;
}
.about-verbiage{
  width: 50%;
}
.account-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.about-paragraph, .about-verbiage{
  text-align: start;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-left: 1rem;
  color: #c2c2c2;
  color: #eee;
  font-weight: 400;
  text-align: start;
}
.about-image{
  width: 30rem;
}
.h1-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
 
}
.p5canvascontainer{
  /* width: 100%;
  height : 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; */
}
.header-link{
  font-weight: bold;
  color: #050fff;
  margin: 0 1rem;
}
.inner-header{
  color: black !important;
  font-weight: 500;
}
.signed-in-home-container{
  text-align: start;
  min-height: 75vh;
}
.header-link:hover{
  color: #bb0000;
  text-decoration: underline;
  transition: all .2s;
}
.bold{font-weight: bold;}
.header-buttons{
  width: 23%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  height: 3rem;
}
.main-header, .sub-header{
  font-family: "Titillium Web", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.sub-header{
  font-style: italic;
}
body{
  /*background: #010618;*/
  color: black;
}
h1{
  letter-spacing: -3px;
}
.header-container{
  position: absolute;
  top: 25%;
  
  z-index: 10000;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.header-paragraph{
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  /* color: #c2c2c2; */
  color: black;
  font-weight: 400;
 text-align: start;
}
.main-header{
  /* -webkit-text-fill-color: transparent;
  background-image: linear-gradient(88deg,#fff,#7a78e7 31%,#b678e7);
  background-image: linear-gradient(88deg,#e77878,#e7a278 31%,#e77878);
  background-clip: text; */
  color:#bb0000;
}
#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.logo {
  height: 4em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
  scale: .67;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
